body {
  background-color:#abbebc

}


@media (min-width: 924px) {nav ul {
  display: flex;
  flex-direction: row;
  border: 2px solid gray;
  margin: 9px;
  background-color: #EEF0F2 ;
  border-radius: 10px;
  padding-right: 40px;
}}

nav a:hover {
  color: #000;
}


nav li {
list-style: none;
margin-left: 70px;
padding-top: 25px;
padding-bottom: 25px;
}

nav a {
color: #444;
text-decoration: none;
text-transform: uppercase;
font-size: 1.5em;
}

.profilePic {
  height: 200px;
  width: 200px;
  padding-top: 10px;

}

#landingpage {
display: flex;
border-radius: 10%;
border-style: solid;
border-color: grey;
border-width: 2px;
align-self: center;
justify-self: center;
}



#engage {
  grid-column: 2 ;
  grid-row: 1;
  justify-self: center;
  font-family: 'Cinzel', serif;
}


.mainBody {
  display:grid;
  grid-template-columns: 50%;
  grid-template-rows: 675px;
}

#loginForm {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self:center;
  background-color: azure;
  border-radius: 10%;
  border-color:grey;
  text-align: center;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
}

footer{
  position: fixed;
  width: 100%;
  background-color: #EEF0F2;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0px;
  height: 30px;
}

footer ul {
position: relative;
bottom:20px;
display: flex;
flex-direction: row;
list-style: none;

}

footer li {
  margin: 9px;
}

.indexBody {
  display: grid;
  grid-template-columns: 300px 560px 798px;
  grid-template-rows: 704px;
}

#iconImage {
  width: 34px;
}

#iconList {
  align-self: flex-end;

}

.searchClass {
  align-self: center;
  margin-left: auto;



}

.engage {
  align-self: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  max-height: 472px;
  text-align: center;
  background-color: #EEF0F2;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
}

.title {
  color: grey;
  font-size: 18px;
}

#pCardButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 0 0 10px 10px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

#tab {
  border-style: solid;


}

table, tr, th, td {
  width: 50%;
border-style: solid;
justify-content: center;

}

#container {
display:flex;
flex-direction: column;
border-style: solid;
height: 200px;
width: 400px;
border-radius: 10px;
border-width: .25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: white;
}

#tab {
  align-self: center ;
  justify-self: center;
}

#getTempHead {
  align-self: center ;
  justify-self: center;
}

#eventsContainer {
  display: grid;
  grid-template-columns: 300px 560px 798px;
  grid-template-rows: 704px;
}

#events {
  display: grid;
  grid-template-columns: 300px 1358px;
  grid-template-rows: 704px;

}

#googleEvents {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* width: 472px;
  height: 600px; */
  text-align: center;
  background-color: #EEF0F2;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  grid-column: 2/3;
  overflow-y: auto;
  max-height: 100%;
}

#googleEvents table {
width: 100%;

}

#googleEvents table tr td:first-of-type,#googleEvents table tr th:first-of-type {
width:90px;

}


#weatherCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 472px;
  text-align: center;
  background-color: #BFEAF5;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
}

#photoCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 472px;
  text-align: center;
  background-color: #EEF0F2;
  border-radius: 10px;
  align-self: center;
  justify-self: center;


}



@media (min-width:924px){
  .ham {
  display: none;
}}

@media (max-width: 924px){
  .hidden--mobile {
    display: none !important;
  }
}

  nav > .fa-bars {
    display: none;
  }

.carousel > img {
  display: block;
width: 500px;
height:500px;
position:relative;

  }

  img{
    max-width: 100%;
  }
